.text-muted {
    color: #9ecacc !important;
}

.search {
    background-color: #f4f4f4;
    border: none;
    border-radius: 50px;
}
.link {
    color: #429993;
    text-decoration: none;
}

.link:hover,
.link:visited {
    color: #377d79;
}

@media screen and (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
}
