@font-face {
    font-family: "Apercu";
    /* src: url(../fonts/ApercuPro.woff) format('woff'), url(../fonts/ApercuPro.woff2) format('woff2'), url(../fonts/ApercuPro.ttf) format('truetype'); */
    src: url(../fonts/ApercuPro.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Apercu";
    src: url(../fonts/ApercuPro-Bold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Apercu";
    src: url(../fonts/ApercuPro-Italic.woff);
    font-weight: normal;
    font-style: italic;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
    border-color: #9ecacc;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom {
    background-color: #9ecacc !important;
}

.nav-link {
    font-family: Apercu;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0em;
    text-align: center;
    color: #26484a;
}

.navbar-brand {
    float: left;
    width: 150px;
}

#navbar-logo {
    width: 140px;
    height: 24px;
    margin-right: 7px;
}

.alert-wrapper {
    padding: 5px;
    z-index: 99;
}

@media screen and (max-width: 500px) {
    #ver-vector {
        display: none !important;
    }
    .sign-up {
        margin-bottom: 10px !important;
    }
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    flex-shrink: 0;
    box-sizing: border-box;
}

.body-height-grower {
    flex-grow: 1;
}

/* Landing Page Fonts */

.sec-1 > div > div > div > p {
    font-family: Apercu;
    font-size: 20px;
    color: white;
    font-weight: normal;
    font-style: normal;
}

.sec-1 > div > div > div > h1 {
    font-family: Apercu;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    color: white;
}

.sec-2 > div > div > h2 {
    font-family: Apercu;
    font-size: 36px;
    color: #26484a;
    font-weight: 700;
}

.sec-2 > div > div > div > h5 {
    font-family: Apercu;
    font-size: 24px;
    color: #26484a;
    font-weight: 500;
}

.sec-2 > div > div > div > div > p {
    font-family: Apercu;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #26484a;
}

.sec-3 > div > h2 {
    font-family: Apercu;
    font-size: 36px;
    font-style: normal;
    color: #26484a;
    font-weight: bold;
}

.sec-3 > div > div > div > div > h5 {
    font-family: Apercu;
    font-size: 24px;
    color: #26484a;
    font-style: normal;
    font-weight: bold;
}

.sec-3 > div > div > div > div > p {
    font-family: Apercu;
    font-size: 16px;
    color: #26484a;
    font-style: normal;
    font-weight: normal;
}

.sec-5 > div > h2 {
    font-family: Apercu;
    font-size: 36px;
    color: #26484a;
    font-style: normal;
    font-weight: bold;
}

.sec-5 > div > p {
    font-family: Apercu;
    font-size: 24px;
    color: #26484a;
    font-style: normal;
    font-weight: normal;
}

.sec-5 > div > div > a {
    font-family: Apercu;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
}

#intro-img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 500px) {
    #intro-img {
        transform: scale(1.3) !important;
        -webkit-transform: scale(1.3) !important;
    }
    .sec-1 > div > div > div > h1 {
        font-size: 24px !important;
    }
    .sec-1 > div > div > div > p {
        font-size: 11px !important;
    }
    .sec-2 > div > div > h2 {
        font-size: 16px !important;
        padding-right: 0px !important;
    }
    .sec-2 > div > div > div > h5 {
        font-size: 14px !important;
    }
    .sec-2 > div > div > div > div > p {
        font-size: 11px !important;
        padding-right: 5px !important;
    }
    .sec-3 > div > h2 {
        font-size: 16px !important;
        margin-left: 1rem !important;
    }
    .sec-3 > div > div > div > div > h5 {
        font-size: 14px !important;
    }
    .sec-3 > div > div > div > div > p {
        font-size: 11px !important;
    }
    .sec-5 > div > h2 {
        font-size: 16px;
    }
    .sec-5 > div > p {
        font-size: 11px;
    }
    .sec-5 > div > div > a {
        font-size: 14px;
    }
}

/* How It Works */

.profile-img,
.match-img,
.serve-img {
    width: 15vw;
    height: auto;
}

@media screen and (max-width: 500px) {
    .profile-img,
    .match-img,
    .serve-img {
        width: 60vw;
        height: auto;
    }
}

/* Featured Projects */

.card {
    border-radius: 15px !important;
    overflow: hidden;
}

.card-body {
    margin-bottom: 5px;
}

.card-img-top {
    object-fit: contain;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 500px) {
    .card-img-top {
        height: auto;
        width: 70vw;
    }
}

/* Sponsors */

@media screen and (max-width: 500px) {
    .img-sponsor1 {
        width: auto !important;
        height: 8vh !important;
    }
    .img-sponsor2 {
        width: auto !important;
        height: 10vh !important;
    }
    .img-sponsor3 {
        width: auto !important;
        height: 8vh !important;
    }
    .img-sponsor4 {
        width: auto !important;
        height: 8vh !important;
    }
}

/* Footer */

.footer {
    background-color: #9ecacc;
}

.footer-img {
    height: 5vh;
    width: auto;
}

.footer-col-1 {
    font-size: 14px;
    display: inline-flex;
}

.footer-header {
    font-family: Apercu;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.footer-col-4 > a,
.footer-col-5 > a {
    font-family: Apercu;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #26484a;
}

.bottom-text {
    font-family: Apercu;
    font-size: 12px;
    color: #26484a;
    font-style: normal;
    font-weight: normal;
}

@media only screen and (max-width: 1050px) {
    .footer-col-2 > div > div,
    .footer-col-2 > div > div > a {
        font-size: 12px !important;
    }
    .bottom-text {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .footer-col-3,
    .footer-col-3-img {
        display: none !important;
    }
    .bottom-text {
        display: none !important;
    }
}

@media only screen and (max-width: 500px) {
    .footer {
        justify-content: center !important;
        bottom: 0;
    }
    .footer-col-1,
    .footer-col-4,
    .footer-col-5 {
        display: none !important;
    }
}

/* Our Team Page */

* {
    font-family: Apercu;
    color: #26484a;
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 500px) {
    .profile-pic {
        width: 60vw;
        height: auto;
    }
}

/* Global primary button setting */
.btn.btn-primary {
    background-color: #3f938d;
    border-color: transparent;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    background-color: #26484a !important;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
    background-color: #3f938d;
}

.btn-edit {
    background-color: #ffdc83;
}

.btn-swe {
    background-color: #9ecacc;
}

.btn-pm {
    background-color: #ff8943;
}

.btn-d {
    background-color: #ffdc83;
}

.project-button {
    font-size: 0.84rem;
    border-radius: 9em;
    border-color: white;
}

.project-button:hover {
    background-color: #429993;
    border-color: #9ecacc;
}

.see-details {
    color: #26484a;
}
.see-details:hover {
    background-color: white;
    color: #429993;
}

@media only screen and (max-width: 600px) {
    .project-button {
        /* padding: .2rem .5rem; */
        font-size: 0.71rem;
    }
    .btns-talent {
        margin-bottom: 1rem;
    }
}

.see-all:link {
    color: #429993;
    text-decoration: none;
}

.see-all:visited {
    color: #26484a;
}

.see-all:hover {
    color: #3f938d;
    text-decoration: underline;
}

.btn:focus {
    box-shadow: none !important;
}

input[type=search]:focus {
    box-shadow: 0 0 0 .25rem #9ecacc;
}